<h1>Todos</h1>
<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<app-todo-item 
    *ngFor="let todo of todos" 
    [todo]="todo"
    (deleteTodo)="deleteTodo($event)"> <!-- Catches the emmited event from todo-item component -->    
</app-todo-item>