<div [ngClass]="setClasses()"> <!-- ngClass directive allows us to dynamically apply classes to elements -->
    <p>
        <input (change)="onToggle(todo)" type="checkbox"/>
        {{ todo.title }}
        <button (click)="onDelete(todo)" class="del">x</button>
    </p>

</div>
